.dropdown-menu{
    background: rgb(239, 246, 253);
    border-radius: 0;
}
.dropdown-item:hover{
    background: rgb(226, 237, 251);
}
.dropdown-toggle::after{
    background-image: url("../images/icons/down.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-top: 0;
    width: 5px;
    height: 5px;
}
.dropdown-toggle::before{
    background-image: url("../images/icons/up.svg");
}

.nav-link, .dropdown-item{
    position: relative;
    transition: 0.3s ease;
}
.nav-link::before, .dropdown-item::before{
    content: '';
    position: absolute;
    background-color: #1064E5;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.4s ease;
}
.nav-link:hover:before, .dropdown-item:hover:before{
    width: 100%;
}